<h1><%= @recipe.name %></h1>
<h2><%= @recipe.ingredients %></h2>
<h3><%= @recipe.cook_time %></h3>
<form method="POST" action="/recipes/<%= @recipe.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>